.card {
  --size: 250px;

  width: var(--size);
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.card header {
  padding: 0.5em;
  background-color: #000;
  color: #fff;
}

.card h2 {
  margin: 0;
  font-size: large;
  font-weight: bold;
}

.card img {
  object-fit: cover;
  width: var(--size);
  height: var(--size);
}

.card .blank-image {
  background-color: black;
  width: var(--size);
  height: var(--size);
}
